
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<header>
    <nav class="navbar navbar-dark bg-primary fixed-top ">
        <div>
            <a routerLink="/homepage">Welcome</a></div>
    </nav>
</header>
<button class="btn bg-transparent">
    Transparent button
</button>
      
      <footer><nav class="navbar navbar-dark bg-primary fixed-bottom">
        <a class="navbar-brand" href="#" >All right reserved</a>
      </nav>
      </footer>
    <div class="card">
        <div class="btn bg-transparent,btn btn-light"><button routerLink="/createloan">Create Loan</button>
        </div>
        <div class="btn bg-transparent,btn btn-light"><button routerLink="/displayloan">Display Lone</button>
        </div>
        <div class="btn bg-transparent,btn btn-light"><button routerLink="/displayschedule">Display Schedule</button>
        </div>
        
    </div>
   
</body>
</html>






